body {
  background-color: #0F171E;    /* Color de fondo para el login y sign_up */
}

.login{
  color:white;          /* Color de las letras */
}


.navbar{
    background-color:rgba(000, 000, 000, 0.4);      /* elegimos el color de la barra de navegar */
    color:white;



}
